@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

.screen a {
  display: contents;
  text-decoration: none;
}

.error-page {
  background-color: 
#e6e6eb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 982px;
  min-width: 1512px;
  overflow: hidden;
  width: 100%;
}

.group-1879 {
  display: flex;
  height: 75px;
  margin-left: -1px;
  width: 1512px;
}

.frame-77 {
  height: 93px;
  margin-top: -9px;
  width: 1512px;
}

.x404-error-with-a-cute-animal-cuate-1-1 {
  height: 439px;
  margin-left: 537px;
  margin-top: 48px;
  width: 439px;
}

.group-1914 {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-left: 556px;
  margin-top: 15px;
  width: 405px;
}

.title {
  color: 
#1d1d1dde;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 28px;
  letter-spacing: 0;
  margin-left: 43px;
  width: 313px;
}

.we-are-unable-to-fin {
  color: var(--secondary-text);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 21px;
  letter-spacing: 0;
  margin-top: 15px;
  width: 399px;
}

.place {
  color: var(--primary);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 21px;
  letter-spacing: 0;
  margin-left: 180px;
  margin-top: 15px;
  text-decoration: underline;
  width: 40px;
}